
body{
    background:url(../image/programming-1873854_1920.jpg);
}
.text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 70px;
    font-weight: bold;
    left: 250px;
    top: 300px;
}
@media screen and (max-width:767px){
    .text{
        position: relative;
        top:200px;
        left: 15px;
        font-size: 25px;
    }
}
@media screen and (min-width:768px) and (max-width:1025px){
    .text{
        position: relative;
        top:350px;
        left:50px;
        font-size: 50px;
    }
}
